html {
    font-family: "Titillium Web", sans-serif;
  }

header {
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    color: white;
    background-color: black;
}

body {
    background-color: black;
    background-size: cover;
    color: white;
  }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Castoro Titling', cursive;
}

h1 {
    font-size: 2.5em;
}

button {
    font-size: 16px;
    text-align: center;
}

#book-search {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 20px;
}

.book-container {
    display: flex;
    grid-gap: 40px;
    padding: 30px;
}

#state-details {
    text-align: center;
    font-size: 2em;
    color: red;
}

.more-books {
    padding: 40px;
    display: flex;
    grid-gap: 25px;
}

.book {
    width: 280px;
}

.load-more-books {
    /* display: none; */
    display:flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    grid-gap: 2em;
}

#book-detail {
    padding: 20px;
    width: 60%;
}

#reading-list {
    padding: 20px;
}

#main-book-image {
    height: 350px;
}

#quick-facts-title {
    column-span: all;
    text-align: center;
    margin-top: 50px;
}

.quick-facts-container {
    text-align: center;
    display: flex;
    grid-gap: 2em;
    justify-content: center;
    align-items: flex-end;
    margin: 3em;
}

.state-img {
    width: 15em;
}

.book-img {
    height: 20em;
}

.book {
    padding: 25px;
    border-radius: 20px;
    background-color: gray;
}

.book img {
    padding: 20px;
    height: 300px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}